/*Header Section of the site*/
.site-header {
  display: flex;
  flex-direction: column;
  height: 10rem;
  padding-left: 0;
  @include desktop {
    flex-direction: row;
    height: 6rem;
    background-color: $secondary-mercury;
  }
  &__logo {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: $medium;
    color: $primary-black !important;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Cedarville Cursive";
    @include desktop {
      margin-top: auto;
      margin-bottom: auto;
      font-size: $large;
      margin-left: 0.5rem;
    }
  }
  &__navbar {
    margin: auto;
    padding-top: $vsmall;
    font-size: $small;
    @include tablet {
      font-size: $medium;
    }
    @include desktop {
      font-size: $large;
      margin-right: 20px;
    }
  }
  &__elements {
    margin: auto;
    padding: 1rem;
    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: end;
      margin-top: auto;
    }
  }
}
